{% if paginator.posts %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.posts %}
        <li class="item  item--post">
          <article class="article  article--post">
            <hr style="color: gray;">
            <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
            {% include post-meta.html %}
            <!-- {{ page.excerpt | markdownify | truncatewords: 20 }} -->
            <!-- {{ page.excerpt | replace_first: "<h2>", "<h4>" | replace_first: "</h2>", "</h4>" | markdownify | truncatewords: 20 }} -->
            {% assign excerpt_parts = page.excerpt | split: "<h2>" %}
            {% if excerpt_parts.size > 1 %}
              {{ excerpt_parts[0] | markdownify | truncatewords: 20 }}<h4>{{ excerpt_parts[1] | replace_first: "</h2>", "" | markdownify }}</h4>
            {% else %}
              {{ page.excerpt | markdownify | truncatewords: 20 }}
            {% endif %}


          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% else %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in site.posts %}
        <li class="item  item--post">
          <article class="article  article--post">

            <h4><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h4>
            {% include post-meta.html %}
            <!-- {{ page.excerpt | markdownify | truncatewords: 20 }} -->
            {{ page.excerpt | replace_first: "<h2>", "" | replace_first: "</h2>", "" | markdownify | truncatewords: 20 | append: "..." }}

          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
